---
import "../styles/global.css";

interface Props {
	title?: string;
	showNav?: boolean;
}

const { title = "Lustre", showNav = true } = Astro.props;
---
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style="background: radial-gradient(circle at top, #101b3a, #05060a 60%), #05060a; background-attachment: fixed;">
		<div class="page-container-base">
			{showNav && (
				<nav class="nav-global">
					<a href="/">Home</a>
					<a href="/about">About</a>
					<a href="/media">Media</a>
					<a href="/projects">Projects</a>
					<a href="/Study/">Study</a>
				</nav>
			)}
			<slot />
		</div>
	</body>
</html>

